USE [master]
GO
/****** Object:  Database [QuanLySV]    Script Date: 12/10/2023 11:32:36 ******/
CREATE DATABASE [QuanLySV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLySV.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLySV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLySV_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySV]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 12/10/2023 11:32:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [char](3) NOT NULL,
	[TenLop] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 12/10/2023 11:32:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [char](6) NOT NULL,
	[HoTenSV] [nchar](40) NULL,
	[NgaySinh] [datetime] NULL,
	[MaLop] [char](3) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Lop] ([MaLop], [TenLop]) VALUES (N'1  ', N'Công Nghệ Thông Tin           ')
INSERT [dbo].[Lop] ([MaLop], [TenLop]) VALUES (N'2  ', N'Kế Toán Khoa                  ')
INSERT [dbo].[SinhVien] ([MaSV], [HoTenSV], [NgaySinh], [MaLop]) VALUES (N'SV0001', N'Trần Văn Nam                            ', CAST(N'1985-08-20 00:00:00.000' AS DateTime), N'1  ')
INSERT [dbo].[SinhVien] ([MaSV], [HoTenSV], [NgaySinh], [MaLop]) VALUES (N'SV0002', N'Nguyễn Thị Tuyết                        ', CAST(N'1986-08-25 00:00:00.000' AS DateTime), N'2  ')
INSERT [dbo].[SinhVien] ([MaSV], [HoTenSV], [NgaySinh], [MaLop]) VALUES (N'SV0003', N'Nguyễn Kim Tuyến                        ', CAST(N'1984-03-21 00:00:00.000' AS DateTime), N'2  ')
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
USE [master]
GO
